body{
  background-color: #02010a;
  font-family: 'Dancing Script';
  color: white;
}

#header{
  background-color: #5b7989;
  color: white;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
}

#footer{
  width: inherit;
  border-radius: 0px 0px 10px 10px;
  background-color: #c6d5c5;
}

.row::after,.row::before {
  content:"";display:table;clear:both
}

*{
  box-sizing: border-box;
}


h1{
  text-shadow: 2px 2px #02010a;
}

h2{
  text-decoration-style: double;
}

a:link{
  color: white;
  text-decoration: underline;
}
a:visited{
  color: white;
}
a:active{
  text-decoration:none;
}
a:hover{
  color:red;
}


/* NOTE: imagen central */
#imagen_central{
  text-align: center;
  background-color: #82c3a6;
  padding: 20px;
}

#imagen_secundaria{
  padding: 20px;
  background-color: #d5c75f;
  border: 1px;
}

#galeria{
  padding: 20px;
  background-color: #d5c75f;
  border: 1px;
}

[class*="col-"]{
  float:left;
}

.menu ul{
  list-style-type: none;
  font-size: 22px;
  text-decoration: none !important;
  overflow: hidden;
  padding: 5px;
  word-spacing: 10px;
}

.menu li{
  display: inline;

}

.imgs{
  width: 100%;
}

.img_paisajes:hover{
    transform: rotate(10deg);
    box-shadow: 2px #82c3a6;
    border: 2px solid black;
}

.img_retrato:hover{
  transform: translate(20px,-5px);
  box-shadow: 2px #82c3a6;
  border: 2px solid black;
}


.caption{
  text-align: center;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.img_redes{
  width: 100%;
  max-width: 30px;
  vertical-align: middle;
}



/*desktop*/
@media (min-width:720px) {
  #contenido {width: 90%;}

  .titulo{
    width: 66.66%;
    float: left;
    text-align: left;
  }
  .menu{
    width: 33.33%;
    float:left;
    text-align: right;
  }

  #galeria{
    width: 33,33%;
  }

  #imagen_secundaria{
    display: inline-flex;
  }

  #galeria{
    display: -webkit-flex;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  #galeria{
    display: -webkit-flex;
    display: flex;
  }

  .info_footer{
    width: 25%;
    float: left;
    padding: 20px;
  }

}/*media desktop*/

/*movil*/
@@media (max-width:420px) {
  #contenido {width: 100%}

  .img_redes{
      max-width: 10px !important;
  }

}/*media movil*/
